<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GPT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/members">members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown">파이선 레퍼런스</a>
<ul class="dropdown-menu">
  <li><a class="dropdown-item" href="http://127.0.0.1:8000/syntax">문법</a></li>
  <li><a class="dropdown-item" href="http://127.0.0.1:8000/forloop">루프</a></li>
  <li><a class="dropdown-item" href="#">데이터타입</a></li>
  <li><a class="dropdown-item" href="#">넘버</a></li>
  <li><a class="dropdown-item" href="#">캐스팅</a></li>
  <li><a class="dropdown-item" href="#">부울</a></li>
  <li><a class="dropdown-item" href="#">연산자</a></li>
  <li><a class="dropdown-item" href="#">리스트</a></li>
  <li><a class="dropdown-item" href="#">튜플</a></li>
  <li><a class="dropdown-item" href="http://127.0.0.1:8000/ifelse">ifelse</a></li>
  <li><a class="dropdown-item" href="#">람다</a></li>
  <li><a class="dropdown-item" href="#">배열</a></li>
  <li><a class="dropdown-item" href="#">클래스 객체</a></li>
  <li><a class="dropdown-item" href="#">상속</a></li>
  <li><a class="dropdown-item" href="#">다형성</a></li>
  <li><a class="dropdown-item" href="#">날짜</a></li>
  <li><a class="dropdown-item" href="#">json</a></li>
  <li><a class="dropdown-item" href="#">정규표현식</a></li>
  <li><a class="dropdown-item" href="#">try catch</a></li>
  <li><a class="dropdown-item" href="#">Numpy</a></li>
  <li><a class="dropdown-item" href="#">Pandas</a></li>
  <li><a class="dropdown-item" href="#">Scipy</a></li>
  <li><a class="dropdown-item" href="#">Matplot</a></li>
  <li><a class="dropdown-item" href="#">Machine Learning</a></li>
  <li><a class="dropdown-item" href="#">TensorFlow</a></li>
  <li><a class="dropdown-item" href="#">PyTorch</a></li>
  <li><a class="dropdown-item" href="#">sckit-learn</a></li>
</ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>